<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viewer</title>
  <link rel="stylesheet" type="text/css" href="viewer.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/global.css" />

</head>

<body>
  <header>
    <div class="wrap">
      <div class="logo">
        <a href="#" class="logo">Snowplow Analytics</a>
      </div>
      <nav>
        <ul>
          <li><a target="_blank" href="https://docs.snowplowanalytics.com/">Documentation</a></li>
          <li><a target="_blank" href="https://snowplowanalytics.com/explore-snowplow-data-part-1/">Explore Snowplow
              Data</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="split-sections wrap">
    <aside>
      <div class="post-content">
        <ul>
          <li><a href="#gotoPageviews">Page view</a></li>
          <li><a href="#gotoTrackPageViews">Page ping</a></li>
        </ul>
      </div>
    </aside>
    <main>
      <nav>
        <ul>
          <li><a href="#">Events</a></li>
          <li><a href="#">Pipeline</a></li>
        </ul>
      </nav>
      <section class="events-list box-shadow">
        <article>
          <h2 id="gotoPageviews">Pageviews</h2>
          <p>Page views are tracked using the trackPageView method. This is generally part of the first Snowplow tag to
            fire on a particular web page. As a result, the trackPageView method is usually deployed straight after the
            tag that also invokes the Snowplow JavaScript (sp.js) e.g.</p>
          <div class="snowplow-example">
            <pre><code>&lt;script type="text/javascript">
      ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
      p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
      };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
      n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","https://d1fc8wv8zag5ca.cloudfront.net/2.10.2/sp.js","snowplow"));
      
      window.snowplow('newTracker', 'sp', 'localhost:9090', {
          appId: 'my-app-id',
          contexts: {
              webPage: true
          }
      });
      
      window.snowplow('trackPageView');
&lt;/script>
&lt;h1>Your content here&lt;/h1>
&lt;p>Lorem ipsum dolor sit amet, consectetur adipiscing elit&lt/p>
</code></pre>
          </div>
        </article>
        <article>
          <h2 id="gotoTrackPageViews">Track Pageview</h2>
          <p>
          Additionally, you can pass a function which returns an array of zero or more contexts to trackPageView. For the page view and for all subsequent page pings, the function will be called and the contexts it returns will be added to the event.
          </p>
          <div class="snowplow-example-short">
            <pre><code>
var tracker = Snowplow.getTrackerUrl('localhost:9090')
tracker.trackPageView(
  // no custom title
  null,

  // The usual array of static contexts
  [{
    schema: 'iglu:org.schema/WebPage/jsonschema/1-0-0',
    data: {
      breadcrumb: []
    }
  }],

  // Function which returns an array of custom contexts
  // Gets called once per page view / page ping
  function() {
    return [{
      schema: 'iglu:org.schema/WebPage/jsonschema/1-0-0',
      data: {
        breadcrumb: ['home','article']
      }
    }];
  }
);
            </code></pre>
          </div>
        </article>
      </section>
    </main>
  </div>
  <section class="data">
        <div class="stats">
          <div>
            <p>Total</p>
            <div ><h4 class="total"></h4></div>
          </div>
          <div>
            <p>Good</p>
            <div ><h4 class="good"></h4></div>
          </div>
          <div>
            <p>Bad</p>
            <div ><h4 class="bad"></h4></div>
          </div>
        </div>
        <table class="good">
          <thead>
            <tr>
              <td><h5>Time</h5></td>
              <td><h5>Data</h5></td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
  </section>
  <footer>
    <div class="wrap">
      <div class="logo">
        <a href="#" class="logo">Snowplow Analytics</a>
      </div>
      <p>© 2020 Snowplow Analytics </p>
    </div>
  </footer>
</body>

<script type="text/javascript" src="jsonview.js"></script>
<script type="text/javascript" src="viewer.js"></script>
<script type="text/javascript" src="js-editor/app.js"></script>

</html>
