
.data {
  background-color: white;
}

.stats {
  width: 100%;
  display: flex;
}

.stats > div {
  color: #fff;
  width: 33.3334%;
  display:flex;
  flex-flow: row wrap;
  padding:10px 20px;
  text-align: center;
  background-color: #6340B8;
  align-items: center;
}

.stats > div:last-of-type{
  background:#F88298;
}
.stats > div p{
  margin-right:30px;
}
.stats > div:nth-of-type(2){
  background:#30beb2;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 2px 0px;
  overflow: hidden;
  padding:20px 40px;
  box-sizing: border-box;
}
thead {
  text-align: center;
  font-weight: 500;
}

thead tr td{
  background:#f3eeee;
}
thead tr td:last-of-type{
  background:#e2e2e2cb;
}

td {
  padding: 0.5em;
  align-items: left;

}
tr td:first-of-type{
  width: 33.3334%;
}
tr td{
  padding:10px 40px;
}
tr{
  padding:20px
}
td h3{
  text-align: left;;
}
tr {
  border-bottom: solid rgba(0, 0, 0, 0.16) 1px;
}
tr:nth-child(even) {
  background: #f5f9fd;
}
tr:nth-child(odd) {
  background: white;
}
td h5{
  color:#323743;
}

.line {
  margin: 4px 0;
  display: flex;
  justify-content: flex-start;
}

thead .tr{
  background:rgba(0,0,0,.2)
}

.caret-icon {
  width: 18px;
  text-align: center;
  cursor: pointer;
}

.empty-icon {
  width: 18px;
}

.json-type {
  margin-right: 4px;
  margin-left: 4px;
}

.json-key {
  color: #444;
  margin-right: 4px;
  margin-left: 4px;
}

.json-index {
  margin-right: 4px;
  margin-left: 4px;
}

.json-value {
  margin-left: 8px;
}

.json-number {
  color: #f9ae58;
}

.json-boolean {
  color: #ec5f66;
}

.json-string {
  color: #86b25c;
}

.json-size {
  margin-right: 4px;
  margin-left: 4px;
}

.hide {
  display: none;
}

.fas {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
}

.fa-caret-down {
  border-width: 6px 5px 0 5px;
  border-color: #808080 transparent;
}

.fa-caret-right {
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #808080;
}
